.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    width: 200px;
    height: 100px;
    cursor: pointer;
}

.drop-preview {
    border: 2px solid black;
    width: 200px;
    height: 100px;
    overflow-y: scroll;
}